@media screen and (max-width: 600px){
    .pozaantet>img{
        width:100px;
    }
    .text>p{
        font-size:1em;
    }
    .text>h2{
        font-size: 1.5em;
    }
    .textheader>h2{
        font-size:2em;
    }
    .mainnav{
        font-size:1em;
    }
    footer>p{
        font-size:1em;
    }
    .info_detalii{
        font-size:1em;
    }
    .container>h3{
        font-size:1em;
    }
    .sectiune1, .sectiune2{
        flex-direction: column;
        margin: 0px 20px;
    }
    .secabout1{
        margin: 0px 20px;
    }
    iframe{
        width: 180px;
        height: 180px;
    }
    .contact_info{
        margin:20px;

    }
}