body{
    
  background: url(fundalcinema.jpg);
  background-color: black;
  background-size:cover;
  background-repeat: no-repeat;
  color:white;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

header{
  background-color: black;
  padding: 0px;
  margin:0px;
  text-align:left;
  border-bottom:#330000;
  top:0;
  z-index:1;

  display:flex;
  align-content: stretch;
  text-align:left;
  width:100%;
}
.pozaantet{
  margin:0px;
  padding:0px;
}
.pozaantet>img{
  width:90px;
  margin:0px;
  padding:0px;
}
.textheader>h2{
  margin:5px;
}
.header{
  position: sticky;
  top:0;
}
.submeniu a{
  color:silver;
}
.mainnav{
  background-color:maroon;
  padding: 0px;
}
.meniu{
  display:flex;
  flex-direction: row;
}
.submeniu{
  background:url(NavStyle.png);
  background-size: cover;
}

.mainnav>ul.meniu>li>ul{
  list-style-type: none;
  padding:0px;
}
.mainnav>ul.meniu>li{
  list-style-type: none;
  padding:0px;
}
nav>ul.meniu>li>ul.submeniu{
  display:none;

}
nav>.meniu>li:hover>ul.submeniu{
  display:block;
}
.mainnav a{
  text-decoration: none;
  color: white;
  text-align: center;
  display:block;
  padding: 7px 15px;
  font-size: 17px;
  font-family: fantasy;
  margin: 3px;
  transition: background-color 2s, red 2s;
}
ul.submeniu>li{
  height:50px;
  line-height: 20px;
  text-align: center;
}

.mainnav a:hover{
  background-color: black;
  color: crimson;
}

.mainnav a:active{
  background-color: silver;
  color:#bb0a1e;
}


body > h1{
  text-align: center;
  background-color: #1105058c;
}

.continut_general {
    position: relative;
    width: 320px;
    margin: 80px auto 0px auto;
    perspective: 1000px;
    z-index:0;
  }
  span{
    margin:auto;
    font-size:15px;
  }
  .carusel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; 
    animation: rotate360 60s infinite forwards linear;
    
  }
  .item_carusel { 
    position: absolute;
    width: 300px;
    height: 190px;
    top: 10px;
    left: 10px;
    right: 10px;
    background-size: cover;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
    display: flex;
  }

  .item_carusel:nth-child(1) {
    background-image: url("photos-CZ/galerry1.jpg");
    transform: rotateY(  0deg) translateZ(430px); }
  .item_carusel:nth-child(2) { 
    background-image: url("photos-CZ/galerry5.jpg");
      transform: rotateY( 40deg) translateZ(430px); }
  .item_carusel:nth-child(3) {
    background-image: url("photos-CZ/galerry8.jpg");
    transform: rotateY( 80deg) translateZ(430px); }
  .item_carusel:nth-child(4) {
    background-image: url("photos-CZ/galerry4.jpg");
    transform: rotateY(120deg) translateZ(430px); }
  .item_carusel:nth-child(5) { 
    background-image: url("photos-CZ/galerry3.jpg");
   transform: rotateY(160deg) translateZ(430px); }
   .item_carusel:nth-child(6) { 
    background-image: url("photos-CZ/galerry9.jpg");
   transform: rotateY(200deg) translateZ(430px); }
   .item_carusel:nth-child(7) { 
    background-image: url("photos-CZ/galerry2.jpg");
   transform: rotateY(240deg) translateZ(430px); }
   .item_carusel:nth-child(8) {
    background-image: url("photos-CZ/galerry7.jpg");
    transform: rotateY(280deg) translateZ(430px); }
    .item_carusel:nth-child(9) {
    background-image: url("photos-CZ/galerry6.jpg");
    transform: rotateY(320deg) translateZ(430px); }
  
    @keyframes rotate360 {
        from {
          transform: rotateY(0deg);
          z-index:0;
        }
        to {
          transform: rotateY(-360deg);
          z-index:0;
        }
      }
      
.contact_info{
        display:flex;
        padding:10px;
        margin:50px;
        justify-content: space-evenly;
        background-color: #33000084;
        align-items: center;
        text-align: left;
}
.info_detalii>h3{
    text-align: center;
    background-color: #330000;
} 

footer{
    background-color: maroon;
    padding: 1px;
    margin: 0px;
    text-align:center;
    color:white;
    border-top:#330000
}

footer>p::after{
    content:"🍿";
    margin-left:5px;
}

footer>p::before{
    content:"🎬";
    margin-right: 5px;
}

.popup {
  box-sizing: border-box;
  background-color: rgb(6, 1, 2);
  color: white;
  padding: 10px 15px;
  box-shadow: 0px 0px 20px rgba(220, 20, 60, 0.377);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

}

@keyframes dissapear {
0% {opacity:1;}
100% {opacity:0;}
}